@import '~src/imports';

.main-content {
	position: relative;
	/* background: #fff;  
	background: -webkit-linear-gradient(to bottom, #8e9eab, #eef2f3);  
	background: linear-gradient(to bottom, #8e9eab, #eef2f3);  */



	&:before {
		@extend %block-absolute;
		@include opacity(10, 0.1);
		right:0;
		bottom:0;
		content: '';
		/* background: url('~src/assets/images/nembg.png') no-repeat center center / cover fixed; */
	}

	> * {
		position: relative;
		z-index: 4;
	}

	p {
		color: #fff;
	}

}

img {
	max-width: 100%;
	height: auto;
}

section {
	margin-bottom: -$med-margin;
}

.last-item {
	section {
		margin-bottom: $med-margin;
	}
}


.cards {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;

	> li {
		display: flex;
		flex-direction: column;
		width: 50%;
	}
}

.card {
	@extend %block-relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	padding: 0 $small-margin $med-margin;

	header {
		@extend %block-relative;
		width: 100%;
		height: 300px;
		padding: 0;
		object-fit: cover;

		.heading-container {
			@extend %block-absolute;
			left: auto;
			top: auto;
			right: 20px;
			bottom: 20px;

			.copied {
				@extend %block-absolute;
				top: -25px;
				left: auto;
				right: 13px;
				background: rgba(155, 155, 155, 0.4);

				p {
					padding: 5px 10px;
					font-weight: normal;
					font-size: 1em;
					text-transform: uppercase;
					color: #fff;
				}
			}
		}

		h3 {
			@extend %white-on-black-text-shadow;
			color: #fff;
			margin: 0;

			.copy-btn {
				margin-right: 10px;
				cursor: pointer;

				&:hover {
					color: $link-hover;
				}
				
				i {
					font-size: 2.16rem;	
				}
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		flex: 1;
		background: rgba(32, 33, 36, 0.06);

		&:hover {
		}

		.inner {
			padding: $small-margin;
		}
	}
}


@media screen and (max-width: 1559px) {
	.card {
		header {
			height: 200px;

			h3 {
				font-size: 2em;

				.copy-btn {
					margin-right: 10px;
					cursor: pointer;
					
					i {
						font-size: 1.46rem;	
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1080px) {
	.card {
		header {
			height: 300px;

			h3 {
				font-size: 3em;
			}
		}

		.content {
			.inner {
				padding: $small-margin + 4px;
			}
		}
	}

	.cards {
		> li {
			width: 100%;
		}
	}
}

@media screen and (max-width: 960px) {
	.card {
		padding: 0 0 $med-margin;

		header {
			height: 200px;

			h3 {
				font-size: 2em;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.card {
		header {
			h3 {
				font-size: 2em;
			}
		}
	}
}