@import '~src/imports';

h2 {
	@extend %block-relative;
	font-size: 6em;
	font-weight: 700;
	color: #808080;
	margin-bottom: $med-margin;
	margin-left: 21px;
}

.inner {
	@extend %block-relative;
	width: 100%;
	padding: $med-margin ($large-margin - 30px);
}

img {
	max-width: 100%;
	height: auto;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;

	> li {
		display: flex;
		width: 50%;

		> .card {
			@extend %block-relative;
			width: 100%;
			padding: 0 $small-margin $med-margin;

			header {
				@extend %block-relative;
				width: 100%;
				height: 300px;
				object-fit: cover;

				h3 {
					position: absolute;
					right: 20px;
					bottom: 20px;
					color: #fff;
					font-weight: 700;
					font-size: 3em;
					text-shadow: 1px 3px 3px rgba(0, 0, 0, 0);
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
