@import '~src/imports';

img {
	max-width: 100%;
	height: auto;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;

	> li {
		display: flex;
		flex-direction: column;
		width: 50%;
	}
}

.card {
	@extend %block-relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	padding: 0 $small-margin $med-margin;

	header {
		@extend %block-relative;
		width: 100%;
		height: 300px;
		object-fit: cover;

		h3 {
			@extend %white-on-black-text-shadow;
			position: absolute;
			right: 20px;
			bottom: 20px;
			color: #fff;
			font-weight: 700;
			font-size: 3em;

			.copy-btn {
				margin-right: 10px;
				cursor: pointer;

				&:hover {
					color: $link-hover;
				}
				
				i {
					font-size: 2.16rem;	
				}
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		flex: 1;
		background: rgba(32, 33, 36, 0.06);

		&:hover {
		}

		.inner {
			padding: $small-margin;
		}
	}
}


@media screen and (max-width: 1559px) {
	.card {
		header {
			height: 200px;

			h3 {
				font-size: 2em;
				right: auto;
				left: 20px;

				.copy-btn {
					margin-right: 10px;
					cursor: pointer;
					
					i {
						font-size: 1.46rem;	
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1080px) {
	.card {
		header {
			height: 300px;

			h3 {
				font-size: 3em;
			}
		}

		.content {
			.inner {
				padding: $small-margin + 4px;
			}
		}
	}

	.cards {
		> li {
			width: 100%;
		}
	}
}

@media screen and (max-width: 960px) {
	.card {
		padding: 0 0 $med-margin;

		header {
			height: 200px;

			h3 {
				font-size: 2em;
				left: 33px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.card {
		header {
			h3 {
				font-size: 2em;
				bottom: auto;
				top: 50%;
				left: 50%;
				width: 100%;
				text-align: center;
				transform: translate(-50%, -50%);
			}
		}
	}
}