<app-hero [innerBgClass]="'inner-bg-black'" [bgClass]="'stars-sparse'">
	<span hero-title [innerHtml]="heroTitle"></span>
</app-hero>
<div class="main-content">
	<div class="inner">
		<section>
			<h2>Overview</h2>
			<p>We're still working on this guide. Please stay tuned!</p>
		</section>
		<section>
			<h2>How To</h2>
			<p>We're still working on this guide. Please stay tuned!</p>
		</section>
		<section>
			<h2>Role Specific</h2>
			<p>We're still working on this guide. Please stay tuned!</p>
		</section>
		<section>
			<h2>Do's and Don'ts</h2>
			<p>We're still working on this guide. Please stay tuned!</p>
		</section>
	</div>
</div>