<app-hero [innerBgClass]="'inner-bg-black'" [bgClass]="'stars-sparse'">
	<span hero-title [innerHtml]="heroTitle"></span>
</app-hero>
<div class="main-content">
	<div class="inner">
		<section>
			<h2>Overview</h2>
			<p>Blops is a great way to chill out, watch netflix, and then drop the hammer on somebody's shiny. While these fleets are mostly relaxed, they do require some discipline, obedience, and know-how. <app-quick-def defModal="bridgeShip"><span item-name>The Bridge Ship</span></app-quick-def> itself is worth around 3B and will in many cases be under combat scan pressure. Mistakes can be expensive, but are very very avoidable.</p>
			<p>This guide will help you understand how to fly in a blops ship, and minimize mistakes. The most important thing is to listen to your FC and be patient. Undocking or warping around when not being told to can lead to being station camped in the lightest of circumstances to accidentally decloaking the bridge and losing it.</p>
		</section>
		<section>
			<h2>Preparation</h2>
			<ul class="step-list">
				<li>
					<div>
						<label class="step">1</label>
					</div>
					<div class="step-content">
						<label>Pre-stage</label>
						<p>If you have your own ship, you can put it in our staging system so that is it already there when pings go out. If you feel like keeping a clone there, it is not required but feel free to if you have spares.</p>
						<p>If you do not have your own ship, I can provide ships. You can also keep a clone there if you'd like, but make sure you are early to the fleet so I can hand you your ship.</p>
						<p>If you do not already know the current staging, ping Silv R on discord.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">2</label>
					</div>
					<div class="step-content">
						<label>GO GO GO</label>
						<p>When a fleet is pinged, get to that station, get in your bomber, undock and cloak in a <app-quick-def defModal="safe"><span item-name>Safe</span></app-quick-def>.</p>
					</div>
				</li>
			</ul>
		</section>
		<section>
			<h2>FC Wat Do?</h2>
			<p>Once you have a ship from the FC, undock and cloak in a <app-quick-def defModal="safe"><span item-name>Safe</span></app-quick-def></p>
			<p>Do not ever warp to the <app-quick-def defModal="bridgeShip"><span item-name>Bridger</span></app-quick-def> unless instructed to.</p>
			<p>If instructed to warp to the <app-quick-def defModal="bridgeShip"><span item-name>Bridger</span></app-quick-def>, <span class="bold">Cloak First, Then Warp.</span></p>
			<ul class="step-list">
				<li>
					<div>
						<label class="step">1</label>
					</div>
					<div class="step-content">
						<label>Undock</label>
						<p>You should already be undocked and in space unless your FC say's otherwise. Make sure you are cloaked.</p> 
						<p>Now wait for further instructions.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">2</label>
					</div>
					<div class="step-content">
						<label>Get on the Bridge</label>
						<p>When your FC tell's you to warp to the <app-quick-def defModal="bridgeShip"><span item-name>Bridger</span></app-quick-def>, first ensure that you are cloaked and then warp to the bridge at 0.</p> 
						<p>Now wait for further instructions. This could be a long wait. Be patient. If at any point you realize you've been drifting, inform the FC that you need to warp off and back. Warp away and then warp back to the bridge at 0.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">3</label>
					</div>
					<div class="step-content">
						<label>Wait for Hunters</label>
						<p>When our <app-quick-def defModal="hunters"><span item-name>Hunters</span></app-quick-def> find a target, they will call that they are in warp. At this point, wake up and get ready to jump through the <app-quick-def defModal="bridgePortal"><span item-name>Bridge Portal</span></app-quick-def>. DO NOT DECLOAK. Just be ready, looking at your screen.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">4</label>
					</div>
					<div class="step-content">
						<label>Bridge</label>
						<p>Once one of our hunters successfully tackles a target, a cyno will be lit. The bridge will decloak open a bridge and say "Take the bridge". Decloak your ship if you were not already decloaked by the bridge. Take the bridge. [How to take the bridge link]</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">5</label>
					</div>
					<div class="step-content">
						<label>Attack</label>
						<p>When you appear on grid, there will be a big shiny in front of you. Before you attack it there are some things you need to do. Align towards a celestial [define celestial] that is NOT in the direction of the target. Now you can lock up the target, turn on your target painter or disrupter, and fire your torpedos. If you take damage, warp to your align immediately. Make a bookmark on the way out. When you land, you can warp back to the fleet and align to your bookmark.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">6</label>
					</div>
					<div class="step-content">
						<label>Escape if needed</label>
						<p>If the target lights a cyno, be very ready to warp. If ships come through the cyno warp immediately to your align. Make a safe [bookmark link from earlier], and cloak up.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">7</label>
					</div>
					<div class="step-content">
						<label>Destroy</label>
						<p>When we kill a target the FC will call to warp off grid. Warp to your align, and make a safe [bookmark link from before] mid warp. Reload and repair while warping and ensure you are cloaked. Warp to your safe and await further instructions. If the kill site is safe, the Astero pilots will loot. Loot goes to corp as it funds SRP and ship provisions.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">8</label>
					</div>
					<div class="step-content">
						<label>Reset</label>
						<p>The bridge needs to reset. Just hang out cloaked in your safe spot for now. Once the bridge resets, we will basically do what we just did all over again.</p>
					</div>
				</li>
			</ul>
		</section>
		<section>
			<h2>Emergencies</h2>
			<p>Emergencies are situations that require immediate action and could result in a fleet welp, or bridge loss.</p>
			<ul class="step-list">
				<li>
					<div>
						<label class="step">1</label>
					</div>
					<div class="step-content">
						<label>Fleet member d/c's or fails to cloak</label>
						<p>This will decloak the bridge and the entire fleet. Immediately get off grid. Warp to a random celestial and recloak. Be ready to warp to the bridge to defend it. If the bridge does not get attacked, wait in a safe for further instructions.</p>
					</div>
				</li>
			</ul>
		</section>
		<section>
			<h2>Role Specific</h2>
			<p>We're still working on this guide. Please stay tuned!</p>
		</section>
		<section>
			<h2>Do's and Don'ts</h2>
			<p>We're still working on this guide. Please stay tuned!</p>
		</section>
	</div>
</div>