<app-hero getScollPos [innerBgClass]="'inner-bg-black'" [bgClass]="'stars-sparse'">
	<span hero-title [innerHtml]="heroTitle"></span>
</app-hero>
<div class="main-content" id="mainContent">
	<div class="inner">
		<header>
			<h2>Overview</h2>
		</header>
		<section>
			<p>Blops is a great way to chill out, watch netflix, and then drop the hammer on somebody's shiny. While these fleets are mostly relaxed, they do require some discipline, obedience, and know-how. <app-quick-def defModal="bridgeShip"><span item-name class="capitalize">The Bridge Ship</span></app-quick-def> itself and pod implants are worth around 3 Billion. Mistakes can be expensive, but are very very avoidable.</p>
			<p>This guide will help you understand how to fly in a <app-quick-def defModal="blopsShip"><span item-name class="capitalize">blops ship</span></app-quick-def>, and minimize mistakes. The most important thing is to listen to your FC and be patient. Undocking or warping around when not being told to can lead to being station camped in the lightest of circumstances to accidentally decloaking the <app-quick-def defModal="bridgeShip"><span item-name class="capitalize">Bridge</span></app-quick-def> and losing it.</p>
		</section>
		<header>
			<h2>Preparation</h2>
		</header>
		<section>
			<ul class="step-list">
				<li>
					<div>
						<label class="step">1</label>
					</div>
					<div class="step-content">
						<label>Pre-stage</label>
						<p>If you have your own ship, you can put it in the blops staging system and double check <span class="bold">Nanite Paste and Ammo</span> so that is it already there when pings go out.</p>
						<p>If you do not have your own ship, or are low on ammo, make sure you are early to the fleet so I can hand you a ship / ammo.</p>
						<p>You can ping <span class="bold highlight-green">Silv R</span> on discord for staging system.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">2</label>
					</div>
					<div class="step-content">
						<label>GO GO GO</label>
						<p>When a fleet is pinged, get in your bomber, undock and cloak in a <app-quick-def defModal="safe"><span item-name class="capitalize">Safe</span></app-quick-def>.</p>
					</div>
				</li>
			</ul>
		</section>
		<header>
			<h2>FC Wat Do?</h2>
		</header>
		<section>
			<ul class="step-list">
				<li>
					<div>
						<label class="step">1</label>
					</div>
					<div class="step-content">
						<label>Undock</label>
						<p>You should already be undocked and in space unless your FC say's otherwise. Make sure you are cloaked and wait for further instructions</p> 
					</div>
				</li>
				<li>
					<div>
						<label class="step">2</label>
					</div>
					<div class="step-content">
						<label>Get on the Bridge</label>
						<p>When your FC tell's you to warp to the <app-quick-def defModal="bridgeShip"><span item-name class="capitalize">Bridger</span></app-quick-def>, first ensure that you are cloaked and then warp to the <app-quick-def defModal="bridgeShip"><span item-name class="capitalize">bridge</span></app-quick-def> at 0.</p> 
						<p>Now wait for further instructions. This could be a long wait. Be patient. If at any point you realize you've been drifting, inform the FC that you need to warp off and back. Warp away and then warp back to the bridge at 0.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">3</label>
					</div>
					<div class="step-content">
						<label>Wait for Hunters</label>
						<p>When our <app-quick-def defModal="hunters"><span item-name class="capitalize">Hunters</span></app-quick-def> find a target, they will call that they are in warp. At this point, wake up and get ready to <app-quick-def defModal="takingTheBridge"><span item-name class="capitalize">Jump Through The Bridge</span></app-quick-def>. <span class="bold">Do not decloak</span>. Just be ready, looking at your screen.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">4</label>
					</div>
					<div class="step-content">
						<label>Bridge</label>
						<p>Once one of our <app-quick-def defModal="hunters"><span item-name class="capitalize">Hunters</span></app-quick-def> successfully tackles a target, a cyno will be lit. The <app-quick-def defModal="bridgeShip"><span item-name class="capitalize">bridge</span></app-quick-def> will decloak, open a bridge and say <app-quick-def defModal="takingTheBridge"><span item-name class="capitalize">"Take the bridge"</span></app-quick-def>. Decloak your ship if you were not already decloaked by the bridge. <app-quick-def defModal="takingTheBridge"><span item-name class="capitalize">Take The Bridge</span></app-quick-def>.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">5</label>
					</div>
					<div class="step-content">
						<label>Attack</label>
						<p>When you appear on grid, there will be a big shiny in front of you. Before you attack it there are some things you need to do. <app-quick-def defModal="alignCelestial"><span item-name class="capitalize">Align towards a celestial that is <span class="bold">not</span> in the direction of the target</span></app-quick-def>. Now you can lock up the target, turn on your target painter or disrupter, and fire your torpedos. If you take damage, warp to your align immediately. Make a bookmark on the way out. When you land, you can warp back to the fleet and align to your bookmark.</p>
						<p><span class="bold">For tankier targets:</span> You may start out-ranging your torpedos. If you are approaching your torp max range, find a new <app-quick-def defModal="alignCelestial"><span item-name class="capitalize">align</span></app-quick-def> that brings you back into range, or holds a steady range to the target.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">6</label>
					</div>
					<div class="step-content">
						<label>Escape if needed</label>
						<p>If the target lights a cyno, be very ready to warp. If ships come through the cyno warp immediately to your align. Make a <app-quick-def defModal="safe"><span item-name class="capitalize">Safe</span></app-quick-def>, and cloak up.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">7</label>
					</div>
					<div class="step-content">
						<label>Destroy</label>
						<p>When we kill a target the FC will call to warp off grid. Warp to your align, and make a <app-quick-def defModal="alignCelestial"><span item-name class="capitalize">Safe</span></app-quick-def> mid warp. Reload and repair while warping and then cloak. You do not need to wait for the reload to finish to cloak. Warp to your <app-quick-def defModal="alignCelestial"><span item-name class="capitalize">Safe</span></app-quick-def> and await further instructions. If the kill site is safe, the Astero pilots will loot. Loot goes to corp as it funds SRP and ship provisions.</p>
					</div>
				</li>
				<li>
					<div>
						<label class="step">8</label>
					</div>
					<div class="step-content">
						<label>Reset</label>
						<p>The <app-quick-def defModal="bridgeShip"><span item-name class="capitalize">Bridger</span></app-quick-def> needs to reset. Just hang out cloaked in your <app-quick-def defModal="alignCelestial"><span item-name class="capitalize">safe spot</span></app-quick-def> for now. Once the <app-quick-def defModal="bridgeShip"><span item-name class="capitalize">bridge</span></app-quick-def> resets, we will basically do what we just did all over again.</p>
					</div>
				</li>
			</ul>
		</section>
		<header>
			<h2>Emergencies</h2>
		</header>
		<section>
			<p class="subtitle">Emergencies are situations that require immediate action and could result in a fleet welp, or bridge loss.</p>
			<ul class="step-list">
				<li>
					<div>
						<label class="step">1</label>
					</div>
					<div class="step-content">
						<label>Fleet member d/c's or fails to cloak</label>
						<p>This will decloak the <app-quick-def defModal="bridgeShip"><span item-name class="capitalize">Bridger</span></app-quick-def> and the entire fleet. Immediately get off grid. <app-quick-def defModal="alignCelestial"><span item-name class="capitalize">Warp to a random celestial</span></app-quick-def> and recloak. Wait in a <app-quick-def defModal="safe"><span item-name class="capitalize">safe</span></app-quick-def> for further instructions.</p>
					</div>
				</li>
			</ul>
		</section>
		<header>
			<h2>Do's and Don'ts</h2>
		</header>
		<section class="last">
			<div class="columns two-50">
				<div>
					<ul class="step-list">
						<li>
							<div>
								<label class="step do"><i class="material-icons">check</i></label>
							</div>
							<div class="step-content">
								<label>Ask Questions</label>
								<p>If you are unsure of something, feel free to ask. The fleet runs much better when the members know what to expect.</p>
							</div>
						</li>
						<li>
							<div>
								<label class="step do"><i class="material-icons">check</i></label>
							</div>
							<div class="step-content">
								<label>Speak Up</label>
								<p>If you have something important to say that the FC needs to hear, you can loudly say, <span class="bold">"Check Check"</span>, to clear the comms and deliver the intel.</p>
							</div>
						</li>
						<li>
							<div>
								<label class="step do"><i class="material-icons">check</i></label>
							</div>
							<div class="step-content">
								<label>Get Cloaked in a Safe</label>
								<p>Get into space up to 10 minutes before the fleet and cloak up in a <app-quick-def defModal="safe"><span item-name class="capitalize">Safe</span></app-quick-def>. This helps us get many people undocked and ready in the event that our enemy gets tipped off that we are staging. The more of us that are out in space, the less that can get station camped.</p>
							</div>
						</li>
					</ul>
				</div>
				<div>
					<ul class="step-list">
						<li>
							<div>
								<label class="step dont"><i class="material-icons">close</i></label>
							</div>
							<div class="step-content">
								<label>Warp to the Bridger without permission</label>
								<p>Warping to the <app-quick-def defModal="bridgeShip"><span item-name class="capitalize">Bridger</span></app-quick-def> when it is not ready can result in a decloak. Depending on the situation this could be bad, or absolutely terrible. Don't do this. If you are unsure as to where you should be, ask the FC.</p>
							</div>
						</li>
						<li>
							<div>
								<label class="step dont"><i class="material-icons">close</i></label>
							</div>
							<div class="step-content">
								<label>Warp to the Bridger while decloaked</label>
								<p>If instructed to warp to the <app-quick-def defModal="bridgeShip"><span item-name class="capitalize">Bridger</span></app-quick-def>, make sure you <span class="bold">Cloak First, Then Warp</span>. If you cloak while in warp to the <app-quick-def defModal="bridgeShip"><span item-name class="capitalize">Bridger</span></app-quick-def>, mistakes can happen. If your cloak doesn't trigger, or double triggers, we will end up with a decloaked fleet.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</div>