<nav AddClassOnScroll [addClassOffset]="20" [ngClass]="showNav ? 'active' : ''">
	<div class="inner">
		<div class="inner-container clearfix">
			<a class="hamburger" (click)="openNav()">
				<i *ngIf="!showNav" class="material-icons">menu</i>
				<i *ngIf="showNav" class="material-icons">close</i>
			</a>
			<div class="logo">
				<a [routerLink]="'/home'">NWFLT</a>
			</div>
			<ul class="nav clearfix">
				<li *ngFor="let item of menuItems" [routerLinkActive]="'active'" (mouseenter)="addAnim()" [ngClass]="includeAnim ? 'include-anim' : ''">
					<a [routerLink]="item.location" (click)="navTo()"><span>{{ item.display }}</span></a>
				</li>
			</ul>
		</div>
	</div>
</nav>