@import '~src/imports';

nav {
	@extend %block-fixed;
	width: 100%;
	height: $main-nav-height;

	&.scrollActive {
		.inner {
			@include box-shadow((0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)));
			background: rgba(32, 33, 36, 0.96);
		}
	}
}

.inner {
	@extend %block-relative-full;
	@include transition(background 300ms ease);
	padding: 0 $large-margin;
	background: rgba(32, 33, 36, 0);
	z-index: 999;
}

.inner-container {
	@extend %block-relative-full;

	> * {
		float: left;
	}

	.hamburger {
		position: relative;
		width: $main-nav-height;
		height: 100%;
		line-height: $main-nav-height;
		text-align: center;
		color: #fff;
		cursor: pointer;
		float: right;

		i {
			line-height: $main-nav-height;
		}
	}
}

.hamburger {
	display: none;
}

ul {
	@extend %in-block-relative;	
	height: 100%;
}

li {
	@extend %block-relative;
	height: 100%;
	float: left;

	&:before {
		@extend %block-absolute-full;
		@include opacity(0, 0);
		content: '';
		top: auto;
		left: 0%;
		bottom: 0;
		height:1px;
		width: 100%;
		background: #fff;
		@include transition(opacity 300ms linear);
	}

	&:hover {
		&:before {
			@include opacity(100, 1);
			@include transition(opacity 300ms linear);
		}
	}

	&.active {
		&:before {
			@include opacity(100, 1);
			@include animation(none);
		}
	}

	a {
		@extend %main-nav-a;
	}
}

.logo {
	@extend %in-block-relative;
	height: 100%;
	line-height: $main-nav-height;

	a {
		@extend %main-nav-a;
		margin-left: -$main-nav-a-padding;
		text-transform: uppercase;
		font-weight: 700;
	}
}


@media screen and (max-width: 960px) {
	.inner {
		padding: 0 0 0 0;
	}
	.hamburger {
		display: block;
	}
	.logo {
		padding-left: ($large-margin-mobile - 5)
	}
	.nav {
		display: none;
		float: none;
		clear: both;
		width: 100%;

		> li {
			width: 300px;
			height: $main-nav-height;
			margin: 0 auto;
			float: none;

			&:before {
				height: 2px;
			}

			&:hover {
				&:before {
					height: 1px;
				}
			}

			&.active {
				&:hover {
					&:before {
						height: 2px;
					}
				}
			}

			> a {
				text-align: center;
			}
		}
	}
	nav {
		@include transition(bottom 600ms ease-out);
		bottom: 100%;

		&.active {
			height: auto;
			bottom: 0;
			
			.inner-container {
				&:before {
					display: block;
					position: absolute;
					content: '';
					top: $main-nav-height;
					left: 0;
					width: 100%;
					height: 1px;
					background: rgba(255, 255, 255, 0.42);
				}
			}

			.nav {
				display: block;
			}

			.inner {
				background: rgba(32, 33, 36, 0.96);
			}

			.logo {
				height: $main-nav-height;
			}

			.hamburger {
				height: $main-nav-height;
			}
		}
	}
}