@import '~src/imports';

h1 {
	@extend %white-on-black-text-shadow;
	display: block;
	position: relative;
	font-size: 8em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.25;
}

.inner {
	@extend %block-relative;
	width: 100%;
	height: 800px;
	color: #fff;

	> * {
		z-index: 2;
	}
}

.inner-bg-black {
	background: #000;
}

.background {
	@extend %underlay-overlay;
	z-index: 1;

	&:after {
		@extend %underlay-overlay;
		content: '';
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7f7f7f+100 */
		background: rgba(0, 0, 0, 0.5);
		background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.43) 0%, rgba(127,127,127,0.43) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.43) 0%,rgba(127,127,127,0.43) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, rgba(0,0,0,0.43) 0%,rgba(127,127,127,0.43) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#7f7f7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}

.background {
	&.main-hero {
		&:after {
			@extend %underlay-overlay;
			content: '';
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7f7f7f+100 */
			background: rgba(0, 0, 0, 0.5);
			background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.43) 0%, rgba(127,127,127,0.13) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.43) 0%,rgba(127,127,127,0.13) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(135deg, rgba(0,0,0,0.43) 0%,rgba(127,127,127,0.13) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#7f7f7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}
	}
}

.main-hero {
	background: url('~src/assets/images/mainHero.png') no-repeat center center / cover fixed;
}
.fits-hero {
	background: url('~src/assets/images/fitsHero.png') no-repeat bottom right / cover fixed;
}
.stars-sparse {
	background: url('~src/assets/images/stars_sparse.png') no-repeat center right / cover fixed;
}

.title-container {
	@extend %in-block-relative;
	margin-top: $large-margin;
	margin-left: $large-margin - 10px;
}


@media screen and (max-width: 1080px) {
	h1 {
		font-size: 6em;
	}
}

@media screen and (max-width: 960px) {
	h1 {
		font-size: 4em;
	}

	.inner {
		height: 600px;
	}

	.title-container {
		margin-left: $large-margin-mobile - 10px;
	}

	.fits-hero {
		background: url('~src/assets/images/fitsHero.png') no-repeat bottom center;
	}
}

@media screen and (max-width: 600px) {
	.title-container {
		margin:0;
		padding:0;
		width: 100%;
		text-align: center;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0, -50%);
	}
}