<div class="inner" ngClass="{{ innerBgClass }}">
	<div class="background" ngClass="{{ bgClass }}" parallax [config]="{axis: 'Y', speed: -.3, cssUnit: 'px'}"></div>
	<div class="title-container">
		<h1><ng-content select="[hero-title]"></ng-content></h1>
		<p><ng-content select="[hero-sub]"></ng-content></p>
	</div>
	<div class="scroll-btn">
		<a pageScroll [pageScrollEasing]="myEasing" [pageScrollDuration]="700" href="#mainContent"><i class="material-icons">keyboard_arrow_down</i></a>
	</div>
</div>