@import '~src/imports';

/* Meyer Web Reset Styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END Meyer Web Reset Styles */

html {
	@include box-sizing(border-box);
}

*, 
*:before, 
*:after {
	@include box-sizing(border-box);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.45;
}

app-root {
	@extend %block-relative;
	z-index: 1;

	> * {
		position: relative;
		z-index: 1;
	}

	> .main-header {
		position: relative;
		z-index: 999;
	}
}

h2 {
	@extend %block-relative;
	font-size: 6em;
	font-weight: 700;
	color: $h2-color;
	margin-bottom: $med-margin;
	margin-left: 21px;
}

h3 {
	@extend %block-relative;
	font-weight: 700;
	font-size: 3em;
	color: $h2-color;
	margin-bottom: $med-margin;
	margin-left: 21px;
}

p {
	font-size: $content-font-size;
}

.main-content {
	.inner {
		@extend %block-relative;
		width: 100%;
		padding: $med-margin ($large-margin - 30px);
	}	

	p {
		padding: ($small-margin - 15px) $small-margin;
	}
}

section {
	margin-bottom: $med-margin;
}

.bold {
	font-weight: 700;
}

.clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@media screen and (max-width: 1080px) {
	h2 {
		font-size: 5em;
	}
}

@media screen and (max-width: 960px) {
	h2 {
		font-size: 3em;
		margin-left: 31px;
	}

	.main-content {
		.inner {
			padding: $med-margin 0;

			p {
				padding: 0 35px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	h2 {
		text-align: center;
		margin-left: 0;
	}
}