
$content-font-size: 1.4em;

$h2-color: #808080;

$link-color: #03a9f4;
$link-hover: #ffa600;

$lists-num-col-width: 40px;

$main-content-p: 15px 30px;

$main-nav-a-padding: 30px;

$main-nav-height: 72px;



$large-margin: 140px;
$large-margin-mobile: 40px;

$med-margin: 60px;
$small-margin: 30px;

$highlight-green: #4CAF50;
$highlight-red: #f44336; 