<app-hero [innerBgClass]="'inner-bg-black'" [bgClass]="'main-hero'">
	<span hero-title [innerHtml]="heroTitle"></span>
</app-hero>
<div class="main-content">
	<div class="inner">
		<section>
			<h2>Bomber Fleets</h2>
			<p>Welcome to the Brand Newbros Blops Fleet Infosite.</p>
			<p>This site should help you prepare for your first (or maybe not so first) Bomber Fleet. Please read through all the information on this site before attending one of our fleets. This will help you get familiar with the flow of the fleet so that when we are on grid, you will better understand your role.</p>
			<p>Black Ops fleets are a ton of fun, so we hope to see you along!</p>
		</section>
		<section>
			<h2>Black Ops Battleships</h2>
			<p>We are currently not set up for Black Ops Battleships, however this is something we will be doing in the future.</p>
			<p>Please feel free to join our bomber fleets in the meanwhile.</p>
		</section>
	</div>
</div>