<app-hero [innerBgClass]="'inner-bg-black'" [bgClass]="'landing-splash'">
	<span hero-title [innerHtml]="heroTitle"></span>
</app-hero>
<div class="main-content">
	<div class="inner">
		<section>
			<h2>Bomber Fleets</h2>
			<p>Welcome to the Brand Newbros Blops Fleet Infosite.</p>
			<p>This site should help you prepare for your first (or maybe not so first) Bomber Fleet. Please read through all the information on this site before attending one of our fleets. This will help you get familiar with the flow of the fleet so that when we are on grid, you will better understand your role.</p>
			<p>Black Ops fleets are bomb, so we hope to see you along!</p>
		</section>
	</div>
</div>